<% var yuidoc = get_current_yuidoc(); %>
<aside id="sidebar">
  <strong class="sidebar-title">Projects</strong>
  <a href="<%- config.root %>api/class/classes/Class.html" class="sidebar-link<% if (page.yuidoc_name === 'class'){ %> current<% } %>">Class</a>
  <a href="<%- config.root %>api/events/classes/Events.html" class="sidebar-link<% if (page.yuidoc_name === 'events'){ %> current<% } %>">Events</a>
  <a href="<%- config.root %>api/base/classes/Base.html" class="sidebar-link<% if (page.yuidoc_name === 'base'){ %> current<% } %>">Base</a>
  <a href="<%- config.root %>api/widget/classes/Widget.html" class="sidebar-link<% if (page.yuidoc_name === 'widget'){ %> current<% } %>">Widget</a>
  <a href="<%- config.root %>api/overlay/classes/Overlay.html" class="sidebar-link<% if (page.yuidoc_name === 'overlay'){ %> current<% } %>">Overlay</a>
  <a href="<%- config.root %>api/dialog/classes/Dialog.html" class="sidebar-link<% if (page.yuidoc_name === 'dialog'){ %> current<% } %>">Dialog</a>
  <a href="<%- config.root %>api/validate/classes/Validate.html" class="sidebar-link<% if (page.yuidoc_name === 'validate'){ %> current<% } %>">Validate</a>
  <strong class="sidebar-title">Classes</strong>
  <% _.each(yuidoc.classes, function(obj){ %>
    <a href="<%- config.root %><%- obj.path %>" class="sidebar-link<% if (is_current(obj.path)){ %> current<% } %>"><%= obj.name %></a>
  <% }) %>
</aside>